.team
   padding: 80px 0 40px
   &__title
      margin-bottom: 40px
   &__slider
      +gpu
      +md
         max-width: 900px
         margin: 0 auto
         padding: 0 30px
      +sm
         max-width: 620px
      +xs
         max-width: 268px
         padding: 0
      .slick-list
         margin: 0 -30px
         padding: 0 5px 40px
         +xs
            padding: 0 0 40px
            margin: 0 -15px
      .slider-btn
         top: calc(50% - 82px)
         z-index: 2
         &_prev
            left: -54px
            +md
               left: -35px
            +r(374)
               left: -15px
         &_next
            right: -54px
            +md
               right: -35px
            +r(374)
               right: -15px
   &__person
      position: relative
      margin: 0 15px
      &-data
         z-index: 3
         padding: 24px 13px 20px
         background-color: $white
         box-shadow: 0 15px 25px rgba(28, 37, 55, 0.1)
         border-radius: 5px
         text-align: center
         color: $color7
      &-photo
         position: relative
         height: 375px
         overflow: hidden
         display: flex
         align-items: flex-end
         +cover-img
         img
            +gpu
            margin: 0 auto
      &-name
         //margin-bottom: 16px
         +f('pn700', 22, 24)
         span
            display: block
      &-descr
         display: none
         //font-size: 16px
         //line-height: 22px
