.icon-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-businessman-check {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-businessman-time {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cancel {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-chat {
  width: 1em;
  height: 1em;
  fill: #444;
}
.icon-checked {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-contract {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-correct {
  width: 1em;
  height: 1em;
  fill: #1e90ff;
}
.icon-credit-card {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-envelope {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-family {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-handshake {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-jigsaw {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-laptop {
  width: 1em;
  height: 1em;
  fill: #2c2f33;
}
.icon-list {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-network {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-paypal {
  width: 3.3em;
  height: 1em;
  fill: initial;
}
.icon-pdf-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phone-call {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-placeholder {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-profile {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-quality {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-send {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-shopping-list {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-smiling-baby {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-teacher {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-tg {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-wallet {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-whatsapp {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-yandex-pay-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
